/* ============================================= */
/* ================== PALETTE ================== */
/* ============================================= */
:root{
  /* Colors from Alexandra's graph viewer */
  --color1: rgb(192, 56, 43);/*custom lighter firebrick*/
  --color2: rgb(82, 109, 130);/*custom blue-gray*/
  --color3: rgb(255, 255, 224);/*lightyellow*/
  --color4: rgb(188, 205, 228);/*custom lighter lightsteelblue*/
  --color5: rgb(75,75,75);/*custom dark gray*/
  --color6: rgb(176, 196, 222);/*lightsteelblue*/
  --color7: rgb(60, 179, 113);/*mediumseagreen*/
  --color8: rgb(108, 117, 124);/*custom blue dark gray*/
  --color9: rgb(245, 245, 245);/*whitesmoke*/
  --color10: rgb(240, 245, 250);/*custom light blue*/
  --color11: black;/*black*/
}
/* https://codepen.io/raneio/pen/NbbZEM */

/* Dropdown */

.dropdown {
  width: 100%;
  display: inline-block;
  position: relative;
}

.dd-button {
  width:80%;
  background-color: var(--color2);
  color: var(--color9); 
  border: 0.5px solid var(--color2);
    
  display: inline-block;
  /*border: 1px solid gray;*/
  border-radius: 1.5vw;
  padding: 2vh 2vw 2vh 2vw;
  /*background-color: #ffffff;*/
  cursor: pointer;
  white-space: nowrap;
}

/* button arrow */
.dd-button:after {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 2vw;
  transform: translateY(50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.dd-button:hover {
  background-color: var(--color4);
  color: var(--color2);
}


.dd-input {
  display: none;
  width:0%;
}

.dd-menu {
  position: absolute;
  bottom: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  background-color: var(--color6);
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  color: var(--color2);
  background-color: var(--color4);
}

/* This is for the clickable area of the menu options*/
.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid var(--color2);
}